.sign-in {
    max-width: 50%;
    text-align: left;
    margin: auto!important;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 12px 1px rgb(226, 226, 226);
    border-radius: 5px;
}

.flex {
    margin-top: 100px;
}

.btn-submit {
    margin-top: 30px;
    margin-bottom: 20px;
}